body
{
	margin:0 auto;
	padding:0;
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#828282;
	background-color:#fff;
}
.activetab
{
	background-color:#ccc;
	font-weight:bold;
	color:#7B7F0E;
}
.error
{
	background-color:#f00;
}
.warning
{
	background-color:#0cf;
}
.succeed
{
	background-color:#0f0;
}
.header
{
	width:100%;
	height:90px;
	padding:15px 0 0 15px;
}
.footer
{
	width:100%;
	padding-left:15px;
	vertical-align:middle;
	height:35px;
}
.footer img
{
	vertical-align:middle;
	height:35px;
}
.container
{
	width:100%;
	background:url('./setup_images/gradient_container.gif') top left repeat-x;
}
 #header {
      float:left;
      width:100%;
      font-size:93%;
      line-height:normal;
      }
    #header ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
      color:#818183;
      }
    #header li {
      float:left;
      background:url("norm_right.gif") no-repeat right top;
      margin-right:5px;
      padding:0;
      }
    #header a {
      display:block;
      background:url("norm_left.gif") no-repeat left top;
      padding:3px 8px 2px 8px;
      color:#B1B97D;
      }
    #header #current {
      background-image:url("./setup_images/tab_activeobjectright.gif");
      }
    #header #current a {
      background-image:url("./setup_images/tab_activeobjectleft.gif");
      padding:3px 8px 2px 8px;
      font-weight:bold;
      color:#867C1D;
      }
     #header #inactive {
      padding:3px 3px 2px 5px;
      font-weight:bold;
      }
.toolbar
{
	float:left;
	display:inline;
	width:100%;
	height:44px; 
	background-color:#444;
	background:url('./setup_images/setup_toolbargradient.jpg') top left repeat-x;
	
}
.toolbar img
{
	display:inline;
}
.bottom3
{
	float:left;
	display:inline;
	position:relative;
	width:100%;
	background:url('./setup_images/setup_bottom3tile.jpg') top left repeat-x;
}
.bottom3 img
{
	display:inline;
}


.left
{
	width:234px;
	height:550px;
	position:absolute;
}
.logo
{
	width:234px;
	height:191px;
	position:relative;
	float:left;
	background:url('./setup_images/setup_logo1.jpg') top left no-repeat;
}
.logo2
{
	width:234px;
	height:191px;
	position:relative;
	float:left;
	background:url('./setup_images/setup_logo2.jpg') top left no-repeat;
}
.logo3
{
	width:234px;
	height:191px;
	position:relative;
	float:left;
	background:url('./setup_images/setup_logo3.jpg') top left no-repeat;
}
.text
{
	width:234px;
	height:359px;
	position:relative;
	float:left;
	background:url('./setup_images/setup_text1.gif') top left no-repeat;
}
.middle
{
	width:617px;
	position:relative;
	padding-left:234px;
	height:596px;
	color:#404855;
}
.middle2
{
	background-color:#E7E9EE;
	float:left;
	position:relative;
	padding:20px 0 0 22px;
	width:594px;
}
.middle33
{
	height:596px;
	width:100%;
	position:relative;
	padding-left:234px;
	color:#404855;
}
.middle3
{
	background-color:#E7E9EE;
	float:left;
	position:relative;
	width:100%;
}
.subtabs
{
	height:25px;
	padding-top:35px;
	float:left;
	position:relative;
}

#tabs 
{
	width:617px;
	height:20px;
	float:left;
}
#tabs3 
{
	width:100%;
	height:20px;
	float:left;
}
#tabs img, #tabs3 img
{
	float:left;
	border:none;
}
.middle img, .middle input, .middle2 img, .middle2 input
{
	display:inline;
	margin:0;
	padding:0;
}
a
{
	text-decoration:none;
	color:#7F7714;
}
input.i
{
	position:relative;
   	padding:2px 0 1px 0;
   	width:100px;
	color:#333;
	font-size:9px;
	vertical-align:middle;
	border-top:1px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #D1D0CC;
	border-bottom:1px solid #D1D0CC;
}
textarea
{
	width:575px;
	height:325px;
	font-size:12px;
	border-top:1px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #D1D0CC;
	border-bottom:1px solid #D1D0CC;
}
textarea.t
{
	width:100px;
	height:50px;
	font-size:12px;
	border-top:1px solid #404040;
	border-left:1px solid #404040;
	border-right:1px solid #D1D0CC;
	border-bottom:1px solid #D1D0CC;
}
table
{
	position:relative;
	background-color:#E8E9EE;
	display:inline;
}

td
{
	height:25px;
}

.id
{
	font-weight:bold;
	padding-left:5px;
}